front/node_modules
front/.next
front/out
front/dist

.git
.gitignore

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store

.env
.env.*
!.env.example
!.env.sample

Dockerfile
docker-compose.yml

coverage
**/*.swp
**/*.swo
